@model UsuariosViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<div class="container">

    <div class="row">
        <div class="col-md-1">Buscar: </div>
        <div class="col-md-1">
            <input class="text-dark"/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div id="divTablaUsuarios" class="col-md-12">
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-1">
            <button id="btnPrevPage" class="btn-toolbar">&lt;-</button>
        </div>
        <div class="col-md-1">
            <label class="text-center text-dark" id="lblPage">1</label>
        </div>
        <button id="btnNextPage" class="btn-toolbar">-&gt;</button>
        <div class="col-md-9"></div>
    </div>

</div>

@section Scripts
{
    <script src="@Url.Content("/lib/js/Usuarios.js")"></script>
}